<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Acceuil | Appels d'offres</title>
  {% load static %}
  <!--favicon-->
  <link rel="icon" href="{% static 'assets/images/fav.ico' %}" type="image/png">

  <!--plugins-->
  <link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/metismenu/metisMenu.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/metismenu/mm-vertical.css' %}">
  <!--bootstrap css-->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <!--main css-->
  <link href="{% static 'assets/css/bootstrap-extended.css' %}" rel="stylesheet">
  <link href="{% static 'sass/main.css' %}" rel="stylesheet">
  <link href="{% static 'sass/dark-theme.css' %}" rel="stylesheet">
  <link href="{% static 'sass/semi-dark.css' %}" rel="stylesheet">
  <link href="{% static 'sass/bordered-theme.css' %}" rel="stylesheet">
  <link href="{% static 'sass/responsive.css' %}" rel="stylesheet">

</head>


<body>

  <!--start header-->
  <header class="top-header">
    <nav class="navbar navbar-expand align-items-center justify-content-between gap-3">
      <div class="btn-toggle">
        <a href="#offcanvasPrimaryMenu" data-bs-toggle="offcanvas"><i  class="material-icons-outlined" >menu</i></a>
      </div>
      
      <style>
        .navbar-brand img {
          margin-top: 20px;
          width: 70px; /* Ajustez la taille du logo selon vos préférences */
          height: 70px;
          object-fit: cover; /* Garantit que l'image reste dans le cercle */
        }
      </style>
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Vos autres éléments de la barre de navigation -->
            <ul class="navbar-nav ms-auto">
              <!-- Les éléments de votre barre de navigation -->
            </ul>
          </div>
          <a class="navbar-brand ms-auto me-2" href="#">
            <img src="{% static 'assets/images/logo.png' %}" class="mb-4 rounded-circle" width="30" height="30" alt="">
          </a>
        </div>
    </nav>
  </header>
  <!--end top header-->

    <!--start mini sidebar-->
    <aside class="mini-sidebar d-flex align-items-center flex-column justify-content-between">
      <div class="user">
        <a href="#offcanvasUserDetails" data-bs-toggle="offcanvas" class="user-icon">
          <i class="material-icons-outlined">account_circle</i>
        </a>
      </div>
      <div class="quick-menu">  
        <nav class="nav flex-column gap-1">
          <a class="nav-link" href="{% url 'appel_offres' %}"><i class="material-icons-outlined">home</i></a>
         
        </nav>
      </div>
      <div class="mini-footer dark-mode">
        <a href="javascript:;" class="footer-icon dark-mode-icon">
          <i class="material-icons-outlined">Indi</i>  
        </a>
      </div>
    </aside>
    <!--end mini sidebar-->


<!--start main wrapper-->
<main class="main-wrapper">
  <div class="main-content">
    <h1>Liste des offres</h1>
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">NOM DU PROJET</div>
      <div class="ps-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Accueil</li>
          </ol>
        </nav>
      </div>
      <div class="ms-auto">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#offreModal">Informations</button>
          <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
            <a class="dropdown-item" href="javascript:;">Info</a>
            <a class="dropdown-item" href="javascript:;">Info 2</a>
            <a class="dropdown-item" href="javascript:;">Info 3</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:;">Plus d'info</a>
          </div>
        </div>
      </div>
    </div>
    <!--end breadcrumb-->
   <!-- Offres -->
<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
  <div class="col">
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title mb-4">Expert comptable</h3>
        <p class="card-text mb-4" style="max-height: 3.6em; line-height: 1.2em; overflow: hidden;">Résumé en détails de la mission principale et de toutes les tâches qu'il aura à effectuer dans un bref délai</p>
        <button class="btn btn-primary w-100 raised" data-bs-toggle="modal" data-bs-target="#modalOffre">Voir plus</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title mb-4">Juriste</h3>
        <p class="card-text mb-4" style="max-height: 3.6em; line-height: 1.2em; overflow: hidden;">Résumé en détails de la mission principale et de toutes les tâches qu'il aura à effectuer dans un bref délai</p>
        <button class="btn btn-primary w-100 raised" data-bs-toggle="modal" data-bs-target="#modalOffre">Voir plus</button>
      </div>
    </div>
    
  </div>

  <div class="col">
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title mb-4">Bio medicale</h3>
        <p class="card-text mb-4" style="max-height: 3.6em; line-height: 1.2em; overflow: hidden;">Résumé en détails de la mission principale et de toutes les tâches qu'il aura à effectuer dans un bref délai</p>
        <button class="btn btn-primary w-100 raised" data-bs-toggle="modal" data-bs-target="#modalOffre">Voir plus</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title mb-4">Ingenieur IA</h3>
        <p class="card-text mb-4" style="max-height: 3.6em; line-height: 1.2em; overflow: hidden;">Résumé en détails de la mission principale et de toutes les tâches qu'il aura à effectuer dans un bref délai</p>
        <button class="btn btn-primary w-100 raised" data-bs-toggle="modal" data-bs-target="#modalOffre">Voir plus</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title mb-4">Expert comptable</h3>
        <p class="card-text mb-4" style="max-height: 3.6em; line-height: 1.2em; overflow: hidden;">Résumé en détails de la mission principale et de toutes les tâches qu'il aura à effectuer dans un bref délai</p>
        <button class="btn btn-primary w-100 raised" data-bs-toggle="modal" data-bs-target="#modalOffre">Voir plus</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title mb-4">Expert comptable</h3>
        <p class="card-text mb-4" style="max-height: 3.6em; line-height: 1.2em; overflow: hidden;">Résumé en détails de la mission principale et de toutes les tâches qu'il aura à effectuer dans un bref délai</p>
        <button class="btn btn-primary w-100 raised" data-bs-toggle="modal" data-bs-target="#modalOffre">Voir plus</button>
      </div>
    </div>
    
  </div>

  <div class="col">
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title mb-4">Expert comptable</h3>
        <p class="card-text mb-4" style="max-height: 3.6em; line-height: 1.2em; overflow: hidden;">Résumé en détails de la mission principale et de toutes les tâches qu'il aura à effectuer dans un bref délai</p>
        <button class="btn btn-primary w-100 raised" data-bs-toggle="modal" data-bs-target="#modalOffre">Voir plus</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title mb-4">Expert comptable</h3>
        <p class="card-text mb-4" style="max-height: 3.6em; line-height: 1.2em; overflow: hidden;">Résumé en détails de la mission principale et de toutes les tâches qu'il aura à effectuer dans un bref délai</p>
        <button class="btn btn-primary w-100 raised" data-bs-toggle="modal" data-bs-target="#modalOffre">Voir plus</button>
      </div>
    </div>
  </div>

  <!-- Modeles -->
<div class="modal fade" id="modalOffre" tabindex="-1" aria-labelledby="modalOffreLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalOffreLabel">Offres</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Formulaire pour ajouter une offre -->
        <div class="card-body p-6">
          <form class="row g-3">
            <div class="col-md-6">
              <label for="input1" class="form-label">Nom de l'entreprise</label>
              <input type="text" class="form-control" id="input1" placeholder="Nom de l'entreprise">
            </div>
            <div class="col-md-6">
              <label for="input3" class="form-label">N d'appel offres</label>
              <input type="text" class="form-control" id="input3" placeholder="N d'appel offres">
            </div>
            <div class="col-md-6">
              <label for="input2" class="form-label">Date d'emission</label>
              <input type="date" class="form-control" id="input2">
            </div>
            <div class="col-md-6">
              <label for="input4" class="form-label">Domaine</label>
              <input type="text" class="form-control" id="input4" placeholder="Domaine">
            </div>
            <div class="col-md-6">
              <label for="input5" class="form-label">Délai de candidature</label>
              <input type="date" class="form-control" id="input5">
            </div>
            <div class="col-md-6">
              <label for="input6" class="form-label">Nombre de poste disponible</label>
              <input type="text" class="form-control" id="input6" placeholder="Nombre de poste disponible">
            </div>
            <div class="col-md-12">
              <h5 class="mb-6">Critère</h5>
              <label for="input7" class="form-label">Limite d'âge</label>
              <input type="text" class="form-control" id="input7" placeholder="Limite d'âge">
            </div>
            <div class="col-md-4">
              <label for="input8" class="form-label">Mission principale</label>
              <input type="text" class="form-control" id="input8" placeholder="Mission principale">
            </div>
            <div class="col-md-4">
              <label for="input9" class="form-label">Activité principale</label>
              <input type="text" class="form-control" id="input9" placeholder="Activité principale">
            </div>
            <div class="col-md-4">
              <label for="input10" class="form-label">Compétence souhaitée</label>
              <input type="text" class="form-control" id="input10" placeholder="Compétence souhaitée">
            </div>
            <div class="col-md-12">
              <label for="input11" class="form-label">Assurance qualité</label>
              <input type="text" class="form-control" id="input11" placeholder="Assurance qualité">
            </div>
            <div class="col-md-12">
              <div class="d-md-flex d-grid align-items-center gap-3 mt-3 justify-content-center">
                <button type="button" class="btn btn-primary px-4">Postuler</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</div>  
  </div>
</main>
<!--end main wrapper-->





<script>
  // Fonction pour remplir le modal avec les détails de l'offre
  function remplirModal() {
    // Données fictives pour simuler une offre
    var nomEntreprise = "Entreprise XYZ";
    var numAppelOffres = "123456";
    var dateEmission = "2024-03-17"; // Exemple de date
    
    // Mettre à jour le contenu du modal avec les valeurs fictives
    document.getElementById("nomEntreprise").textContent = nomEntreprise;
    document.getElementById("numAppelOffres").textContent = numAppelOffres;
    document.getElementById("dateEmission").textContent = dateEmission;
    // Ajoutez d'autres valeurs d'offre fictives ici
  }
</script>



  

   <!--start primary menu offcanvas-->
   <div class="offcanvas offcanvas-start w-260" data-bs-scroll="true" tabindex="-1" id="offcanvasPrimaryMenu">
    <div class="offcanvas-header border-bottom h-70">
      <img src="assets/images/logo1.png" width="160" alt="">
      <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="offcanvas">
        <i class="material-icons-outlined">close</i>
      </a>
    </div>
    <div class="offcanvas-body">
      <nav class="sidebar-nav">
        <ul class="metismenu" id="sidenav">
          <li>
            <a href="javascript:;" class="has-arrow">
              <div class="parent-icon"><i class="material-icons-outlined">home</i>
              </div>
              <div class="menu-title">Acceuil</div>
            </a>
            <ul>
              <li><a href="{% url 'appel_offres' %}"><i class="material-icons-outlined">arrow_right</i>Listes des Offres</a>
              </li>
              <li><a href="{% url 'ajouter_offres' %}"><i class="material-icons-outlined">arrow_right</i>Ajouter Offres</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="has-arrow">
              <div class="parent-icon"><i class="material-icons-outlined">description</i>
              </div>
              <div class="menu-title">Curriculum vitae</div>
            </a>
            <ul>
              <li><a href="{% url 'cv' %}"><i class="material-icons-outlined">arrow_right</i>Liste CV</a>
              </li>
              <li><a href="{% url 'postuler' %}"><i class="material-icons-outlined">arrow_right</i>Ajouter CV</a>
              </li>
            </ul>
          </li>
          <li class="menu-label">Personnel  </li>
          <li>
            <a href="javascript:;" class="has-arrow">
              <div class="parent-icon"><i class="material-icons-outlined">person</i>
              </div>
              <div class="menu-title">Uttilisateurs</div>
            </a>
            <ul>
              <li><a href="{% url 'ajouter_utilisateur' %}"><i class="material-icons-outlined">arrow_right</i>Ajouter Uttilisateur</a>
              </li>       
              <li><a href="{% url 'ajouter_personnel' %}"><i class="material-icons-outlined">arrow_right</i>Ajouter Personnel</a>
              </li>
              <li><a href="{% url 'ajouter_personnel' %}"><i class="material-icons-outlined">arrow_right</i>Liste Uttilisateurs</a>
              </li>
            </li>
            <li><a href="{% url 'ajouter_personnel' %}"><i class="material-icons-outlined">arrow_right</i>Liste Personnel</a>
            </li>
            </ul>
          </li>
          

        </ul>
      </nav>
    </div>
   
  </div>
  <!--end primary menu offcanvas-->


  <!--start user details offcanvas-->
  <div class="offcanvas offcanvas-start w-260" data-bs-scroll="true" tabindex="-1" id="offcanvasUserDetails">
    <div class="offcanvas-body">
      <div class="user-wrapper">
        <div class="text-center p-3 bg-light rounded">
          <img src="https://placehold.co/110x110" class="rounded-circle p-1 shadow mb-3" width="120" height="120"
            alt="">
          <h5 class="user-name mb-0 fw-bold">Jhon youlock</h5>
          <p class="mb-0">Administrator</p>
        </div>
       
      </div>

    </div>
    <div class="offcanvas-footer p-3 border-top">
      <div class="text-center">
        <button type="button" class="btn d-flex align-items-center gap-2" data-bs-dismiss="offcanvas"><i
            class="material-icons-outlined">close</i><span>Fermer</span></button>
      </div>
    </div>
  </div>
  <!--end user details offcanvas-->

  
  

  <!--bootstrap js-->
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

  <!--plugins-->
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <!--plugins-->
  <script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
  <script src="{% static 'assets/plugins/metismenu/metisMenu.min.js' %}"></script>
  <script src="{% static 'assets/plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
  <script src="{% static 'assets/plugins/bs-stepper/js/main.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>