<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Votre titre ici</title>
  {% load static %}
  <!--favicon-->
  <link rel="icon" href="{% static 'assets/images/favicon-32x32.png' %}" type="image/png">

  <!--plugins-->
  <link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/metismenu/metisMenu.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/metismenu/mm-vertical.css' %}">
  <!--bootstrap css-->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <!--main css-->
  <link href="{% static 'assets/css/bootstrap-extended.css' %}" rel="stylesheet">
  <link href="{% static 'sass/main.css' %}" rel="stylesheet">
  <link href="{% static 'sass/dark-theme.css' %}" rel="stylesheet">
  <link href="{% static 'sass/semi-dark.css' %}" rel="stylesheet">
  <link href="{% static 'sass/bordered-theme.css' %}" rel="stylesheet">
  <link href="{% static 'sass/responsive.css' %}" rel="stylesheet">
</head>

<body>
  <!--Votre contenu HTML ici-->
</body>

</html>
