<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Acceuil | Connexion</title>
  {% load static %}
  <!--favicon-->
  <link rel="icon" href="{% static 'assets/images/favicon-32x32.png' %}" type="image/png">

  <!--plugins-->
  <link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/metismenu/metisMenu.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/metismenu/mm-vertical.css' %}">
  <!--bootstrap css-->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <!--main css-->
  <link href="{% static 'assets/css/bootstrap-extended.css' %}" rel="stylesheet">
  <link href="{% static 'sass/main.css' %}" rel="stylesheet">
  <link href="{% static 'sass/dark-theme.css' %}" rel="stylesheet">
  <link href="{% static 'sass/responsive.css' %}" rel="stylesheet">
</head>


  <body class="bg-login">


    <!--authentication-->

    <div class="container-fluid my-5">
      <div class="row">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5 col-xxl-4 mx-auto">
              <div class="card rounded-4 ">
                  <div class="card-body p-5">
                      <div class=" mb-4">
                          <div class="col-auto text-center">
                              <img src="{% static 'assets/images/logo.png' %}" width="100" alt="">  
                          </div>
                      </div>
                     
                
                      <p class="fs-5 mb-0">Saisissez vos identifiants pour vous connecter à votre compte</p>
                      <div class="form-body my-4">
                          <form class="row g-3">
                              <div class="col-12">
                                  <label for="inputEmailAddress" class="form-label text-start">Email</label> <!-- Ajout de la classe text-start -->
                                  <input type="email" class="form-control" id="inputEmailAddress" placeholder="Joseph@example.com">
                              </div>
                              <div class="col-12">
                                  <label for="inputChoosePassword" class="form-label text-start">Mot de passe</label> <!-- Ajout de la classe text-start -->
                                  <div class="input-group" id="show_hide_password">
                                      <input type="password" class="form-control border-end-0" id="inputChoosePassword" value="12345678" placeholder="Enter Password"> 
                                      <a href="javascript:;" class="input-group-text bg-transparent"><i class="bi bi-eye-slash-fill"></i></a>
                                  </div>
                              </div>
                              <div class="col-12 text-start">
                                  <div class="d-grid">
                                      <button type="submit" class="btn btn-primary">SE CONNECTER</button>
                                  </div>
                              </div>
                              <div class="col-12 text-start">
                                  <div class="text-start">
                                      <!-- Contenu additionnel -->
                                  </div>
                              </div>
                          </form>
                      </div>
                      <div class="separator section-padding"></div>
                  </div>
              </div>
          </div>
      </div><!--end row-->
  </div>
  
  
      
    <!--authentication-->


  <!--plugins-->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>


    <script>
      $(document).ready(function () {
        $("#show_hide_password a").on('click', function (event) {
          event.preventDefault();
          if ($('#show_hide_password input').attr("type") == "text") {
            $('#show_hide_password input').attr('type', 'password');
            $('#show_hide_password i').addClass("bi-eye-slash-fill");
            $('#show_hide_password i').removeClass("bi-eye-fill");
          } else if ($('#show_hide_password input').attr("type") == "password") {
            $('#show_hide_password input').attr('type', 'text');
            $('#show_hide_password i').removeClass("bi-eye-slash-fill");
            $('#show_hide_password i').addClass("bi-eye-fill");
          }
        });
      });
    </script>
  
  </body>
</html>