<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Acceuil | Liste CV</title>
  {% load static %}
  <!--favicon-->
	<link rel="icon" href="{% static 'assets/images/favicon-32x32.png' %}" type="image/png">

  <!--plugins-->
  <link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/metismenu/metisMenu.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/metismenu/mm-vertical.css' %}">
  <!--bootstrap css-->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <!--main css-->
  <link href="{% static 'assets/css/bootstrap-extended.css' %}" rel="stylesheet">
  <link href="{% static 'sass/main.css' %}" rel="stylesheet">
  <link href="{% static 'sass/dark-theme.css' %}" rel="stylesheet">
  <link href="{% static 'sass/semi-dark.css' %}" rel="stylesheet">
  <link href="{% static 'sass/bordered-theme.css' %}" rel="stylesheet">
  <link href="{% static 'sass/responsive.css' %}" rel="stylesheet">

</head>


<body>

  <!--start header-->
  <header class="top-header">
    <nav class="navbar navbar-expand align-items-center justify-content-between gap-3">
      <div class="btn-toggle">
        <a href="#offcanvasPrimaryMenu" data-bs-toggle="offcanvas"><i  class="material-icons-outlined" >menu</i></a>
      </div>
      
      <style>
        .navbar-brand img {
          margin-top: 20px;
          width: 70px; /* Ajustez la taille du logo selon vos préférences */
          height: 70px;
          object-fit: cover; /* Garantit que l'image reste dans le cercle */
        }
      </style>
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Vos autres éléments de la barre de navigation -->
            <ul class="navbar-nav ms-auto">
              <!-- Les éléments de votre barre de navigation -->
            </ul>
          </div>
          <a class="navbar-brand ms-auto me-2" href="#">
            <img src="{% static 'assets/images/logo.png' %}" class="mb-4 rounded-circle" width="30" height="30" alt="">
          </a>
        </div>
    </nav>
  </header>
  <!--end top header-->

    <!--start mini sidebar-->
    <aside class="mini-sidebar d-flex align-items-center flex-column justify-content-between">
      <div class="user">
        <a href="#offcanvasUserDetails" data-bs-toggle="offcanvas" class="user-icon">
          <i class="material-icons-outlined">account_circle</i>
        </a>
      </div>
      <div class="quick-menu">  
        <nav class="nav flex-column gap-1">
          <a class="nav-link" href="index.html"><i class="material-icons-outlined">home</i></a>
         
        </nav>
      </div>
      <div class="mini-footer dark-mode">
        <a href="javascript:;" class="footer-icon dark-mode-icon">
          <i class="material-icons-outlined">Indi</i>  
        </a>
      </div>
    </aside>
    <!--end mini sidebar-->


  <!--start main wrapper-->
  <main class="main-wrapper">
    <div class="main-content">
 <!--breadcrumb-->
 <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div class="breadcrumb-title pe-3">Admin</div>
  <div class="ps-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Acceuil</li>
      </ol>
    </nav>
  </div>
  <div class="ms-auto">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Informations</button>
      <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Info</a>
        <a class="dropdown-item" href="javascript:;">Info 2</a>
        <a class="dropdown-item" href="javascript:;">Info 3</a>
        <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Plus d'info</a>
      </div>
    </div>
  </div>
</div>
<!--end breadcrumb-->


<div class="row g-3">
  <div class="col-auto">
    
  </div>
 
  <div class="col-auto">
    <div class="d-flex align-items-center gap-2 justify-content-lg-end">
       <button class="btn btn-filter px-4"><i class="bi bi-box-arrow-right me-2"></i>Imprimer liste</button>
       <a class="btn btn-primary px-4" href="{% url 'postuler' %}"><i class="bi bi-plus-lg me-2"></i>Ajouter Candidatures</a>

    </div>
  </div>
</div><!--end row-->

<div class="card mt-4">
  <div class="card-body">
    <div class="customer-table">
      <div class="table-responsive white-space-nowrap">
         <table class="table align-middle">
          <thead class="table-light">     
            <tr>
              <th>
                <input class="form-check-input" type="checkbox">
              </th>
              <th>Candidats</th>
              <th>Date de naissance</th>
              <th>Situation </th>
              <th>Email</th>
              <th>Adresse</th>
              <th>Langue</th>
             
            </tr>
           </thead>
           <tbody>
             <tr>
               <td>
                 <input class="form-check-input" type="checkbox">
               </td>
               <td>
                <a class="d-flex align-items-center gap-3" href="javascript:;">
                  <div class="customer-pic">
                    <img src="https://placehold.co/110x110" class="rounded-circle" width="40" height="40" alt="">
                  </div>
                  <p class="mb-0 customer-name fw-bold">Joseph Niamke</p>
                </a>
               </td>
               <td>
                 XX/XX/20XX
               </td>
               <td> Marié</td>
               <td>joseph@gmail.com</td>
               <td>Yopougon</td>
               <td>Anglais</td>
             </tr>
             <tr>
              <td>
                <input class="form-check-input" type="checkbox">
              </td>
              <td>
               <a class="d-flex align-items-center gap-3" href="javascript:;">
                 <div class="customer-pic">
                   <img src="https://placehold.co/110x110" class="rounded-circle" width="40" height="40" alt="">
                 </div>
                 <p class="mb-0 customer-name fw-bold">Joseph Niamke</p>
               </a>
              </td>
              <td>
                XX/XX/20XX
              </td>
              <td> Marié</td>
              <td>joseph@gmail.com</td>
              <td>Yopougon</td>
              <td>Anglais</td>
            </tr>
            <tr>
              <td>
                <input class="form-check-input" type="checkbox">
              </td>
              <td>
               <a class="d-flex align-items-center gap-3" href="javascript:;">
                 <div class="customer-pic">
                   <img src="https://placehold.co/110x110" class="rounded-circle" width="40" height="40" alt="">
                 </div>
                 <p class="mb-0 customer-name fw-bold">Joseph Niamke</p>
               </a>
              </td>
              <td>
                XX/XX/20XX
              </td>
              <td> Marié</td>
              <td>joseph@gmail.com</td>
              <td>Yopougon</td>
              <td>Anglais</td>
            </tr>
            <tr>
              <td>
                <input class="form-check-input" type="checkbox">
              </td>
              <td>
               <a class="d-flex align-items-center gap-3" href="javascript:;">
                 <div class="customer-pic">
                   <img src="https://placehold.co/110x110" class="rounded-circle" width="40" height="40" alt="">
                 </div>
                 <p class="mb-0 customer-name fw-bold">Joseph Niamke</p>
               </a>
              </td>
              <td>
                XX/XX/20XX
              </td>
              <td> Marié</td>
              <td>joseph@gmail.com</td>
              <td>Yopougon</td>
              <td>Anglais</td>
            </tr>
            <tr>
              <td>
                <input class="form-check-input" type="checkbox">
              </td>
              <td>
               <a class="d-flex align-items-center gap-3" href="javascript:;">
                 <div class="customer-pic">
                   <img src="https://placehold.co/110x110" class="rounded-circle" width="40" height="40" alt="">
                 </div>
                 <p class="mb-0 customer-name fw-bold">Joseph Niamke</p>
               </a>
              </td>
              <td>
                XX/XX/20XX
              </td>
              <td> Marié</td>
              <td>joseph@gmail.com</td>
              <td>Yopougon</td>
              <td>Anglais</td>
            </tr>
            <tr>
              <td>
                <input class="form-check-input" type="checkbox">
              </td>
              <td>
               <a class="d-flex align-items-center gap-3" href="javascript:;">
                 <div class="customer-pic">
                   <img src="https://placehold.co/110x110" class="rounded-circle" width="40" height="40" alt="">
                 </div>
                 <p class="mb-0 customer-name fw-bold">Joseph Niamke</p>
               </a>
              </td>
              <td>
                XX/XX/20XX
              </td>
              <td> Marié</td>
              <td>joseph@gmail.com</td>
              <td>Yopougon</td>
              <td>Anglais</td>
            </tr>
            <tr>
              <td>
                <input class="form-check-input" type="checkbox">
              </td>
              <td>
               <a class="d-flex align-items-center gap-3" href="javascript:;">
                 <div class="customer-pic">
                   <img src="https://placehold.co/110x110" class="rounded-circle" width="40" height="40" alt="">
                 </div>
                 <p class="mb-0 customer-name fw-bold">Joseph Niamke</p>
               </a>
              </td>
              <td>
                XX/XX/20XX
              </td>
              <td> Marié</td>
              <td>joseph@gmail.com</td>
              <td>Yopougon</td>
              <td>Anglais</td>
            </tr>
            <tr>
              <td>
                <input class="form-check-input" type="checkbox">
              </td>
              <td>
               <a class="d-flex align-items-center gap-3" href="javascript:;">
                 <div class="customer-pic">
                   <img src="https://placehold.co/110x110" class="rounded-circle" width="40" height="40" alt="">
                 </div>
                 <p class="mb-0 customer-name fw-bold">Joseph Niamke</p>
               </a>
              </td>
              <td>
                XX/XX/20XX
              </td>
              <td> Marié</td>
              <td>joseph@gmail.com</td>
              <td>Yopougon</td>
              <td>Anglais</td>
            </tr>
             <tr>

            
           </tbody>
         </table>
      </div>
    </div>
  </div>
</div>
</div>
  </main>
  <!--end main wrapper-->

  

   <!--start primary menu offcanvas-->
   <div class="offcanvas offcanvas-start w-260" data-bs-scroll="true" tabindex="-1" id="offcanvasPrimaryMenu">
    <div class="offcanvas-header border-bottom h-70">
      <img src="assets/images/logo1.png" width="160" alt="">
      <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="offcanvas">
        <i class="material-icons-outlined">close</i>
      </a>
    </div>
    <div class="offcanvas-body">
      <nav class="sidebar-nav">
        <ul class="metismenu" id="sidenav">
          <li>
            <a href="javascript:;" class="has-arrow">
              <div class="parent-icon"><i class="material-icons-outlined">home</i>
              </div>
              <div class="menu-title">Acceuil</div>
            </a>
            <ul>
              <li><a href="{% url 'ajouter_offres' %}"><i class="material-icons-outlined">arrow_right</i>Listes des Offres</a>
              </li>
              <li><a href="{% url 'ajouter_offres' %}"><i class="material-icons-outlined">arrow_right</i>Ajouter Offres</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="has-arrow">
              <div class="parent-icon"><i class="material-icons-outlined">description</i>
              </div>
              <div class="menu-title">Curriculum vitae</div>
            </a>
            <ul>
              <li><a href="{% url 'cv' %}"><i class="material-icons-outlined">arrow_right</i>Liste CV</a>
              </li>
              <li><a href="{% url 'postuler' %}"><i class="material-icons-outlined">arrow_right</i>Ajouter CV</a>
              </li>
            </ul>
          </li>
          <li class="menu-label">Personnel  </li>
          <li>
            <a href="javascript:;" class="has-arrow">
              <div class="parent-icon"><i class="material-icons-outlined">person</i>
              </div>
              <div class="menu-title">Uttilisateurs</div>
            </a>
            <ul>
              <li><a href="{% url 'ajouter_utilisateur' %}"><i class="material-icons-outlined">arrow_right</i>Ajouter Uttilisateur</a>
              </li>       
              <li><a href="{% url 'ajouter_personnel' %}"><i class="material-icons-outlined">arrow_right</i>Ajouter Personnel</a>
              </li>
              <li><a href="{% url 'ajouter_personnel' %}"><i class="material-icons-outlined">arrow_right</i>Liste Uttilisateurs</a>
              </li>
            </li>
            <li><a href="{% url 'ajouter_personnel' %}"><i class="material-icons-outlined">arrow_right</i>Liste Personnel</a>
            </li>
            </ul>
          </li>
          

        </ul>
      </nav>
    </div>
   
  </div>
  <!--end primary menu offcanvas-->


  <!--start user details offcanvas-->
  <div class="offcanvas offcanvas-start w-260" data-bs-scroll="true" tabindex="-1" id="offcanvasUserDetails">
    <div class="offcanvas-body">
      <div class="user-wrapper">
        <div class="text-center p-3 bg-light rounded">
          <img src="https://placehold.co/110x110" class="rounded-circle p-1 shadow mb-3" width="120" height="120"
            alt="">
          <h5 class="user-name mb-0 fw-bold">Jhon youlock</h5>
          <p class="mb-0">Administrator</p>
        </div>
       
      </div>

    </div>
    <div class="offcanvas-footer p-3 border-top">
      <div class="text-center">
        <button type="button" class="btn d-flex align-items-center gap-2" data-bs-dismiss="offcanvas"><i
            class="material-icons-outlined">close</i><span>Fermer</span></button>
      </div>
    </div>
  </div>
  <!--end user details offcanvas-->

  
  

  <!--bootstrap js-->
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

  <!--plugins-->
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <!--plugins-->
  <script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
  <script src="{% static 'assets/plugins/metismenu/metisMenu.min.js' %}"></script>
  <script src="{% static 'assets/plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
  <script src="{% static 'assets/plugins/bs-stepper/js/main.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>